PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

JWT_SECRET=cambiar-esto-en-produccion
JWT_EXPIRES_IN=8h

SQL_HOST=ubicacion-db
SQL_PORT=1433
SQL_USER=sa
SQL_PASSWORD=
SQL_DATABASE=inventario_ubicacion
SQL_ENCRYPT=false
SQL_TRUST_CERT=true

MONGO_URI=mongodb://inventario-db:27017
MONGO_DATABASE=inventario_hardware
MONGO_COLLECTION=equipos_hardware